[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ratlog = "*"
cleo = "*"
pychalk = "*"

[dev-packages]
flake8 = "*"
flake8-import-order = "*"
flake8-bugbear = "*"
pytest = "*"
pydocstyle = "*"
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
